@import "bootstrap";
@import "variables/_colors";
@import "mixins/_flex";

body {
  color: white;
  @include default-flex;

  div {
    @include default-flex;
  }

  .body {
    background-color: $dark-slate-blue;
    flex: 92;
    flex-direction: row;
  }

  .header {
    background-color: $medium-slate-blue;
    flex: 10;
  }

  .footer {
    color: $dark-slate-blue;
    flex: 7;
  }
}

